/* CSS Reset (Resets all starting styles) */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: rgb(137, 40, 40);
 color: rgb(210, 210, 210);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1rem;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
 cursor: pointer;
 border: none;
 background-color: none;
 color: inherit;
}
/* End CSS Reset */

/* Global Styles */
body {
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}

.Column {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5vw;
}
/* End Global Styles */


/* Left Column Style */
#Left-Column {
    align-items: center;
    justify-content: center;
}

#Left-Column h1 {
    margin-top: 2vh;
    font-size: 3vw;
}

#Left-Column h2 {
    font-size: 2vw;
}

#Cookie-Button {
    background: none;
    border: none;
}
#Cookie-Button-Img {
    width: 42vw;
    image-rendering: pixelated;
    margin-bottom: -6vh;
    margin-top: -4vh;
}
/* End Left Column Style */


/* Center Column Style */
#Center-Column {
    font-size: 2vw;
    
}
#Center-Column p {
    margin-bottom: 3vh;
    padding-right: 15vw
}
/* End Center Column Style */

/* Right Column Style */
#Right-Column {
    padding: 1vw;
}
#Right-Column h2{
    font-size: 2vw;
    margin-bottom: 1vh;
}
#Right-Column hr {
    margin-top: 1vh;
}
.Shop-Card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 0.5rem;
    font-size: 1.4rem;
    padding: 0.5vh;
    align-items: center;
}
.Shop-Card img {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5px;
}